div label{
	float:left;
	width: 15%;
	
}


label
{
	color:#00554F;
}
/* ##Estilo del Menu##*/
#imSite { position: relative; }
#imMnMn { text-align: left; }
#imMnMn > ul { z-index: 10001; display: inline-block; }
#imMnMn li > ul { z-index: 10002; }
#imMnMn ul, #imPgMn ul {padding:0;margin:0;list-style-type:none; }
#imMnMn > ul > li { position: relative; margin-left: 0px;  }
#imMnMn > ul > li:first-child { margin-left: 0; }
#imMnMn > ul > li { cursor: pointer; display: block; float: left; }
#imMnMn > ul > li > a { display: block; }
#imMnMn > ul > li .imMnMnFirstBg { background-image: url('../img/main.png'); width: 120px; height: 26px; }
#imMnMn > ul > li:hover .imMnMnFirstBg , #imMnMn > ul > li.imMnMnCurrent:hover .imMnMnFirstBg  { background-image: url('../img/main_h.png'); }
#imMnMn > ul > li.imMnMnSeparator .imMnMnFirstBg  { background-image: none; cursor: auto; }
#imMnMn > ul > li.imMnMnCurrent .imMnMnFirstBg  { background-image: url('../img/main_h.png'); cursor: auto; }
#imMnMn > ul > li.imMnMnFirst .imMnMnFirstBg   { background-image: url('../img/main_f.png'); }
#imMnMn > ul > li.imMnMnFirst:hover .imMnMnFirstBg , #imMnMn > ul > li.imMnMnFirst.imMnMnCurrent:hover .imMnMnFirstBg  { background-image: url('../img/main_f_h.png'); }
#imMnMn > ul > li.imMnMnFirst.imMnMnSeparator:hover .imMnMnFirstBg  {  background-image: none; cursor: auto; }
#imMnMn > ul > li.imMnMnFirst.imMnMnCurrent .imMnMnFirstBg  { background-image: url('../img/main_f_h.png'); cursor: auto; }
#imMnMn > ul > li.imMnMnMiddle .imMnMnFirstBg  { background-image: url('../img/main_m.png'); }
#imMnMn > ul > li.imMnMnMiddle:hover .imMnMnFirstBg , #imMnMn > ul > li.imMnMnMiddle.imMnMnCurrent:hover .imMnMnFirstBg  { background-image: url('../img/main_m_h.png'); }
#imMnMn > ul > li.imMnMnMiddle.imMnMnSeparator:hover .imMnMnFirstBg  {  background-image: none; cursor: auto; }
#imMnMn > ul > li.imMnMnMiddle.imMnMnCurrent .imMnMnFirstBg  { background-image: url('../img/main_m_h.png'); cursor: auto; }
#imMnMn > ul > li.imMnMnLast .imMnMnFirstBg  { background-image: url('../img/main_l.png'); }
#imMnMn > ul > li.imMnMnLast:hover .imMnMnFirstBg , #imMnMn > ul > li.imMnMnLast.imMnMnCurrent:hover .imMnMnFirstBg  { background-image: url('../img/main_l_h.png'); }
#imMnMn > ul > li.imMnMnLast.imMnMnSeparator:hover .imMnMnFirstBg  {  background-image: none; cursor: auto; }
#imMnMn > ul > li.imMnMnLast.imMnMnCurrent .imMnMnFirstBg  { background-image: url('../img/main_l_h.png'); cursor: auto; }
#imMnMn > ul > li .imMnMnFirstBg .imMnMnImg, #imMnMn > ul > li:hover .imMnMnFirstBg .imMnMnImg { position: absolute; line-height: 26px; height: 26px; top: 0; left: 7%; }
#imMnMn > ul > li .imMnMnFirstBg .imMnMnImg img, #imMnMn > ul > li:hover .imMnMnFirstBg .imMnMnImg img { vertical-align: -10%; padding: 0px; border: none; }
#imMnMn > ul > li .imMnMnFirstBg .imMnMnLevelImg { display: none; }
#imMnMn > ul > li .imMnMnFirstBg .imMnMnHoverIcon { display: none; }
#imMnMn > ul > li:hover .imMnMnFirstBg .imMnMnDefaultIcon { display: none; }
#imMnMn > ul > li:hover .imMnMnFirstBg .imMnMnHoverIcon { display: inline; }
#imMnMn > ul > li.imMnMnSeparator > .imMnMnFirstBg > .imMnMnTxt { display: none; }
#imMnMn > ul > li > a { text-decoration: none; }
#imMnMn > ul > li .imMnMnFirstBg > .imMnMnTxt { overflow: hidden; margin: 0px; padding: 0px;  width: 120px; height: 26px; font: normal normal normal 9.0pt Tahoma; color: #000000; text-align: center; text-decoration: none; line-height: 26px; display: block;}
#imMnMn > ul > li:hover .imMnMnFirstBg > .imMnMnTxt, #imMnMn > ul > li.imMnMnCurrent:hover .imMnMnFirstBg > .imMnMnTxt { cursor: pointer; color: #FFFFFF;font-weight: normal;font-style: normal;}
#imMnMn > ul > li.imMnMnCurrent .imMnMnFirstBg > .imMnMnTxt { color: #FFFFFF;font-weight: normal;font-style: normal;}
#imMnMn > ul > li.imMnMnSeparator { background: transparent url('../res/separatorh.png') no-repeat center center; width: 10px; height: 26px; }
#imMnMn .imMnMnFirstBg { position: relative; display: block; background-repeat: no-repeat; cursor: pointer; width: 100%; }
#imMnMn a { border: none; cursor: pointer; }
#imMnMn .imMnMnTxt { text-overflow: ellipsis; white-space: nowrap; }
#imMnMn ul .autoHide, #imMnMn ul div .autoHide { display: none; }
#imMnMn { z-index:10000; }
#imMnMn > ul { position: relative; }
#imMnMn > ul > li > ul { position: absolute; }
#imMnMn > ul > li { display: inline-block; width:120px; }
#imMnMn > ul > li span { display:block; padding:0;}
#imMnMn a { cursor: pointer; display: block; width:120px;}
#imMnMn.auto ul li ul li { top: 0px; }
#imMnMn.auto ul li ul li ul { position: absolute; width: 160px; }
#imMnMn.auto li:hover > ul.auto { display:block; }
#imMnMn.auto li ul.auto { display: none; }
#imMnMn ul ul li .imMnMnBorder { overflow: hidden; }


html {position: relative; margin: 0; padding: 0; background-color: transparent; background-image: url('../img/bg.jpg'); background-position: left top; background-repeat: repeat; background-attachment: scroll;}
body {margin: 0; padding: 0; text-align: left;}
#imPage {margin: 0px auto 0px auto; width: 993px; position: relative;}
#imHeaderBg {position: absolute; left: 0; top: 0; height: 165px; width: 100%; background-color: transparent;}
#imHeader {margin-bottom: 29px; height: 225px; background-color: transparent; background-image: url('../img/top.png'); background-position: top left; background-repeat: no-repeat;}
#imMnMn {position: absolute; top: 225px; left: 0;  height: 21px; width: 983px; padding: 3px 5px 5px 5px; background-color: transparent; background-image: url('../img/menu.jpg'); background-position: left top; background-repeat: repeat-y;}
#imMnMn > ul { text-align: left; }
#imMnMn li {display: inline}

#imContentGraphics {
	height: 603px;
	position: absolute;
	top: 254px;
	bottom: 77px;
	left: 0px;
	width: 993px;
	background-color: transparent;
	background-image: url('../img/content.jpg');
	background-position: left top;
	background-repeat: repeat;
	
}

#formu{
	position: absolute;
	width: 945px;
	height: 401px;
	left: 268px;
	top: 92px;
}
#reg{
	position: absolute;
	left: 460px;
	top: 541px;
}
